* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    margin: 20% 0;
    letter-spacing: 1.8px;
    line-height: 2.5rem;
    
}

/* general stylin */
body{}

html{
    font-family:'poppins',sans-serif ;
font-size:0.625rem;
    color: rgb(27, 27, 27);
  
    line-height: 1.6rem;
    
}


a{
text-decoration: none;
}





h2{
    color:#413d3e;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 20px;
    font-size: 2rem;
    text-transform: uppercase;
    border: 2px solid #008080;
    border-right-color:      orange;
    border-left-color:      orange;
    border-radius: 5rem 0;
    width: auto;
     box-shadow: 1px 7px 15px -8px rgba(0, 0, 0, 0.75);
    }
    



p{
    font-size: 1.4rem;
    line-height: 2rem;

}





ul li{
    list-style: none;
  
}

/* header------------- */

header{
position: relative;
background-image: linear-gradient(rgb(0, 128, 129,.3), rgb(0, 128, 129,.99)),url(../img/bg1.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
min-width: 90vw;
}

.logo-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
 color: #fff;
 font-size: 1.5rem;
    top: 3%;
    width: 90%;
    font-weight: 300;

}


.hambuger{
    font-size: 2em
}



/* side bar and nav for desktop */

nav .dropdown{
    width: 0;
    height: 0vh;
    box-shadow: -1px 10px 13px 1px rgba(13,11,11,0.6);
    -webkit-box-shadow: -1px 10px 13px 1px rgba(13,11,11,0.4);
    -moz-box-shadow: -1px 10px 13px 1px rgba(13,11,11,0.3);
     background-color:#f1f1f1;
    transition: All .4s;
    z-index: 1;
    position: absolute;
 visibility: hidden;
    margin-top: 15%;
    left: 0;
      
}


nav .dropdownDisplay {
    visibility: visible;
    width: 100%;
    height: 100vh;
    opacity: 1;
}

.dropdown .nav-menu{
    position: relative;
    

}




/* .side_bar h1{
    margin-top: 4rem;
    color: rgb(0, 128, 129);
    text-align: center;

} */



nav ul li a{
    display: flex;
  margin:1rem 0;
    padding: 10px;
    position:relative;
    text-transform: capitalize;
    left: 45px;
    color:rgb(0, 128, 129) ;
    font-weight: 500;
    font-size: 3rem;
    letter-spacing: 2px;
    margin-top: 2em;
    ;
    
}



/* .side_bar  #caret-up{
    color:rgb(241, 158, 2)  ;
    display: inline-block;
    position: relative;
    left:85%;
    top:4rem;   
    font-size: 2rem;
} */

/* 
.side_bar #caret-up:hover{
    transform: translate(3%);
    color: #413d3e;
}
*/

 .social-M{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    right: 50px;
    margin-top: 10px;
    font-size: 6rem;
    padding-bottom: 10px;
    position: relative;
    top: 0%;
}


/*
.bottom-nav ul li ,.bottom-nav ul li:active{
    display: inline-block;
    justify-content: space-between;
    padding-left:2% ; 
    
} */

/* -----------.bottom-nav ul li:link{
    background-color: black;
} */



/* icon and hamburger */

header{
 padding-inline: 2rem;
 height: 100vh;
}


 /* nav .logo{
    font-family: 'poppins';
    font-weight: 700;
    font-size: 1.8rem;
} */




/* .header-box{
    width: 80%;
    
} */

.header-box h1{
    position: absolute;
    top:30%;
    left: 50%;
    transform: translate(-50%,-50%);
font-weight:900;
font-family:  'Poppins', sans-serif;
font-size: 3.2rem;
text-align: center;
letter-spacing: 2px;
line-height:4rem;
width: 80%;

}


.header-box h1,.header-box p{
    color:#f1f1f1;
    width: 80%;
    
}


.header-box p{
    letter-spacing: 1px;
    font-family:  'Poppins', sans-serif;
    text-align:center;
    font-size: 2rem;
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%);
line-height: 2.5rem;
    margin: 0px auto;
    padding: 10px;
}

/* font-family: 'Poppins', sans-serif; */

.header-box .btn-Container{
    position: absolute;
 top: 80%;
    left: 50%;
    display: flex;
    justify-content: center;
    transform: translate(-50%,0%);
    width: 50vh;
 
}



header .btn-portfolio ,
.btn-contact{
background-color: rgb(255, 150, 0);
border: 2px solid orange ;;
padding:.9em .7em;
text-align: center;
margin:1% ;
border-radius:4rem 2px;
font-size: 1.5rem;
letter-spacing: 1px;
cursor:pointer;
color: #fff;

}



header .btn-portfolio:link, 
header .btn-portfolio:visited{
  background: transparent;

}


header .btn-portfolio:hover, 
header .btn-portfolio:active {
    background-color: orange;
 
  }
  



/* about section */
.about{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 5.9%;
    position: relative;
    left: 0%;
    background-color: #f1f1f1;
    
    position: relative;
    bottom: 31px;
    /* padding-top: 0px; */
    font-size: 1.5rem;
    border-radius: 7rem 0;
    
}



.about  h2:last-child{
    padding-bottom: 17rem;
}


.about p{
    padding: 20px;
}


.about h2{
    width: 40vw;
    padding: 1.5rem;
    margin-left: 5%;
    text-align: center;
}

/* about image */
.name-image{
    margin: 0 auto;
    position:relative;
    top: 5%;
    display: flex;
    justify-content: center;
}

.name-image::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0%;
    right: 19%;
    background-color: #008080;
    width: 30vh;
    height: 36.5vh;
    border-radius: 50%;
    
}


.about img{
    width:60%;
    border-radius:50%;
    border: 1px solid #008080;
    /* box-shadow: -12px 14px 19px -11px rgba(0,0,0,0.49); */
    z-index: 2;
margin: 0 auto;

   
}


.about img::after{
   
}

.about .img-box{
 
    width: 100%;
    height: 30vh;
    background:#008080;
    position: relative;
    bottom: 20%;
    /* left: 2%; */
    /* padding:5% 10 10% 4%; */
}

/* #1b1b8, #065716c,#197b85 #031163 black :#413d3e,catton: #dba879 */
.img-box h3{
color: #fff; 
padding:10px 0 20px 50px;
font-weight: 400;
border-bottom: 1px solid rgb(255, 255, 255,.2);
}

.img-box h3:last-child{
    margin-bottom: 10px;
    padding:10px 0px 10px 0 ;
    line-height: 1.4;
}
/* skill */

.languages{
    background-color: #fffbfb;
    height: 80vh;
    padding: 0px 0;
}

.languages h2{
    padding: 2rem;
    width: 50vw;
    line-height: 2rem;
    text-align: center;
}

.skills{
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(200px,1fr));
    grid-gap: 10%;
background-position: center;
background-size: contain;
height: auto;
position: relative;
margin:10% 0 0 30%;

}


.skills h2{
padding: 20px;
}
.skils .tools{
display: flex;
justify-content: space-between;
border-radius: 2px;
border: 1px solid orange;
height: 20vh;

}
.fa-brands {
    color: rgb(255, 166, 0);
    font-size: 5rem;
}

.skills .tools div img{
    width: 10vw;
}

.skills .tools div .file{
    background: #008080; 
} 

/* project */
 .projects{



}

.projects {


} 

.img-div {
    
    display: block;
    height: 100%;
    background-color: white;
}

.projects{
    border: 1px solid green;

}

.project-div {
    width: 100%;
  height: 40vh;
  margin:4em  0;
        background-color: #413d3e;
        text-align: center;
       
}

.btn-pre, .btn-next{
    font-size:3.5rem;
    padding-inline:1em ;
    /* position: relative;
    top:80%; */
    background-color: transparent;
    color: #686465;
}

.project-div .project-title{
    font-size: 2.5rem;
    text-decoration: underline;
    margin-top:15px ;
    
}

.projects h2, .about h2,.languages h2{
    margin-left: 30%;
    background-color: transparent;

}

.projects h2{
    padding: 20px;
    width: 40vw;
    text-align: center;
    line-height: 2rem;

}

.icon{
   color: #413d3e;
    
}

.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    background-color: #008080;
    margin:20% 0;
height: 50vh;
}

 .contact .Contacth2{
border-right: 3px solid orange;
border-bottom: 3px solid orange;
padding: 10px;
}

.contact h2{
    transform: rotate(-20deg);
    border: 1px solid #f1f1f1;
    color: orange;
    width: 40vw;
    padding: 20px;
    display: inline-block;
position: relative;
top: 25%;
}

.contact ul li{
    color: #f1f1f1;
    font-size: 1.5rem;
    margin:20px 0;
;
text-align: center;
}

@media screen and (min-width:431px) and (max-width: 480px)  {
 
    .name-image::after{
        content: '';
        display: block;
        position: absolute;
        bottom: 0%;
        right: 19%;
        background-color: #008080;
        width: 34vh;
        height: 40.8vh;
        border-radius: 50%;
        
    }
    .about{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
        grid-gap: 5.8%;
        position: relative;
        left: 0%;
        background-color: #f1f1f1;
        
        position: relative;
        bottom: 31px;
        /* padding-top: 0px; */
        font-size: 1.5rem;
        border-radius: 7rem 0;
        
    }
}

    @media screen and (min-width:481px) and (max-width: 543px)  {
 
  
        .about{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            grid-gap: 8%;
            position: relative;
            left: 0%;
           
        
            
        }

}

@media screen and (min-width:544px) and (max-width: 550px)   and (-webkit-min-device-pixel-ratio: 1) {
    html{
        font-size: .6rem;
    }
    .about{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
        grid-gap: 5.9%;
    }

       
    .name-image::after{
        content: '';
        display: block;
        position: absolute;
        bottom: 1%;
        right: 19%;
       
        width: 45vh;
        height: 54.5vh;
        border-radius: 50%;
        
    }
      
        
    

}

@media screen and (min-width:768px) {

/* nav */

nav .side_bar {
    width: 50%;
background-color: transparent;
    transition: All .4s;
    opacity: 1;
    visibility: visible;
    z-index: 1;
    position: relative;
    /* bottom:16%; */
box-shadow: -1px 10px 13px 1px transparent;
-webkit-box-shadow: -1px 10px 13px 1px transparent;
-moz-box-shadow: -1px 10px 13px 1px transparent;
transition: All .4s;
}


.side-bar-logo .icon{
    display: none;
    background-color: ;
}


.side-bar-logo {
    display: flex;
    background-color: #f1f1f1;
}
nav{
    border: 1px solid #f1f1f1;
    height: 10vh;
}

.nav-menu{
    display: flex;
    visibility: visible;
}

nav .side_bar ul li a {
    display: flex;
    color: #fff;
 z-index: 1;
 /* background: red; */

}


/* .social-M{
    display: none;
} */



    .header-box{
        position: none;
        top:30%;
        left: 20%;
        transform: translate(-50%,-50%);
    }

    .about{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        grid-gap: 5.9%;
     
    }
    .about .name-image{
        border: 1px solid yellow;
       
    }
    .about p {
        padding: 20px;
        border: 1px solid red;
    }

  
.name-image::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 25%;
    right: -3%;

    /* width: 25vh;
    height: 30.5vh; */
 

}
.about img {
    width: 100%;
    height: 40vh;
    border-radius: 50%;
  


}

}

@media screen and (min-width:1025px) and (max-width: 1200px) {
   .about
   {
       background-color: ;
   }

}

@media screen and (min-width:1025px) and (max-width: 1240px) {
    .header-box{
        position: absolute;
        top:30%;
        left: 20%;
        transform: translate(-50%,-50%);
 
    
    }

}